{% extends 'base.html.twig' %}

{% block title %}Website{% endblock %}

{% block body %}
    <h1>Website</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ website.id }}</td>
            </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ website.domaine }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ website.date ? website.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ website.ip }}</td>
            </tr>
            <tr>
                <th>Port</th>
                <td>{{ website.port }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ website.etat }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ website.file }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_website_index') }}" class="btn btn-dark">back to list</a>

    <a href="{{ path('app_website_edit', {'id': website.id}) }}" class="btn btn-primary">edit</a>


{% endblock %}
