{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
{{ form_label(form.type) }}
<div class="mb-3">
    {{ form_widget(form.type,{value:Identification.type|decrypt}) }}
</div>
{{ form_label(form.name) }}
<div class="mb-3">
    {{ form_widget(form.name,{value:Identification.name|decrypt}) }}
</div>
<div class="mb-3">
    Mot de passe
    <div class="input-group">
        {{ form_widget(form.password,{ 'id': 'motdepasse',value:Identification.password|decrypt}) }}
        <span class="input-group-text" id="viewpassword">
                <i class="fa fa-eye-slash" aria-hidden="true" id="eyepassword"></i></span>
    </div>
    <small>{{ form_errors(form.password) }}</small>

</div>
<div class="form-group pt-2">
<button class="btn btn-success">{{ button_label|default('Valider') }}</button>
<a href="{{ path('app_Identification_index') }}" class="btn btn-dark">retour</a>
</div>
{{ form_end(form) }}
