{% extends 'base.html.twig' %}

{% block title %}Ippower index{% endblock %}

{% block body %}
    <h1>Ippower index</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Identification in Identifications %}
            <tr>
                <td>{{ Identification.id }}</td>
                <td>{{ Identification.type }}</td>
                <td>{{ Identification.name }}</td>
                <td>{{ Identification.password }}</td>
                <td>
                    <a href="{{ path('app_Identification_show', {'id': Identification.id}) }}">show</a>
                    <a href="{{ path('app_Identification_edit', {'id': Identification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_Identification_new') }}">Create new</a>
{% endblock %}
