{{ form_start(form) }}
{{ form_label(form.identifiant) }}
<div class="mb-3">
    {{ form_widget(form.identifiant,{value:ssh.identifiant|decrypt}) }}
</div>

<div class="mb-3">
    Mot de passe
    <div class="input-group">
        {{ form_widget(form.motdepasse,{ 'id': 'motdepasse',value:ssh.motdepasse|decrypt}) }}
        <span class="input-group-text" id="viewpassword">
                <i class="fa fa-eye-slash" aria-hidden="true" id="eyepassword"></i></span>
    </div>
    <small>{{ form_errors(form.motdepasse) }}</small>

</div>
    {{ form_label(form.port) }}
<div class="mb-3">
        {{ form_widget(form.port,{value:ssh.port}) }}
    </div>


    {{ form_widget(form) }}
<div class="mb-3 mt-3">
        <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
    <a href="{{ path('app_ssh_index') }}" class="btn btn-dark">retour</a>
    </div>
    {{ form_end(form) }}
