{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-12 col-md-12">
            Etat des machines
{#            {{ dump(machine) }}#}
{#            {{ dump(ssh) }}#}

            <table class="table table-striped">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Serveur</th>
                    <th>Ram</th>
                    <th>Cpu</th>
                    <th>Disk</th>
                </tr>
              </thead>
                <tbody>
                {% for row in ssh %}


                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.server.nom }}</td>
                        <td class="ram"><span id="{{ row.id }}"></span></td>
                        <td><span id="uptime{{ row.id }}"></span></td>
                        <td><span id="disk{{ row.id }}"></span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
