{% extends 'base.html.twig' %}

{% block title %}Server index{% endblock %}

{% block body %}
    <h1>Server index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Ippower</th>
                <th>Etat</th>
                <th>Ipv4</th>
                <th>Location</th>
                <th>Localscript</th>
                <th>Lieninfo</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for server in servers %}
            <tr>
                <td>{{ server.id }}</td>
                <td>{{ server.nom }}</td>
                <td>{{ server.ippower }}</td>
                <td>{{ server.etat ? '<i class="fa-solid fa-power-off text-success"></i>':'<i class="fa-solid fa-power-off text-danger"></i>'}}</td>
                <td>{{ server.ipv4 }}</td>
                <td>{{ server.location }}</td>
                <td>{{ server.localscript }}</td>
                <td>{{ server.lieninfo }}</td>
                <td>{{ server.date ? server.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_server_show', {'id': server.id}) }}">show</a>
                    <a href="{{ path('app_server_edit', {'id': server.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_server_new') }}">Create new</a>
{% endblock %}
