{% extends 'base.html.twig' %}

{% block title %}Server{% endblock %}

{% block body %}
    <h1>Server</h1>
    {# {{ dump(server.sshes|first) }} #}
    {% if server.sshes|first %}
        <div class="container">

            <div class="row gauge" id="{{ (server.sshes|first).id }}">
                <div class="col pb-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Ram</h5>
                            <canvas id="gauge" width="350" height="320"></canvas>
                        </div>
                    </div>
                </div>


                <div class="col pb-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Disk</h5>
                            <canvas id="disk" width="350" height="320"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col pb-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Cpu</h5>
                            <canvas id="cpu" width="350" height="320"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <input type="hidden" id="server" value="{{ server.id }}">
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ server.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ server.nom }}</td>
        </tr>
        <tr>
            <th>Ippower</th>
            <td><span id="ippower"></span></td>
        </tr>
        <tr>
            <th>Etat</th>
            <td><span id="etat"></span></td>
        </tr>
        <tr>
            <th>Ipv4</th>
            <td>{{ server.ipv4 }}</td>
        </tr>
        <tr>
            <th>Gestion électrique</th>
            <td>
                <button type="button" id="restart" class="btn btn-success"><i class="fa-solid fa-rotate-right"></i>
                </button>
                <button type="button" id="start" class="btn btn-success"><i class="fa-solid fa-power-off"></i></button>
                <button type="button" id="stop" class="btn btn-danger"><i class="fa-solid fa-power-off"></i></button>
                <span id="etatelec"></span></td>
        </tr>
        <tr>
            <th>Gestion server</th>
            <td>
                <button type="button" id="restartserver" title="Restart" class="btn btn-success"><i class="fa-solid fa-rotate-right"></i></button>

                <span id="etatserver"></span></td>
        </tr>
        {#            <tr> #}
        {#                <th>Location</th> #}
        {#                <td>{{ server.location }}</td> #}
        {#            </tr> #}
        {#            <tr> #}
        {#                <th>Localscript</th> #}
        {#                <td>{{ server.localscript }}</td> #}
        {#            </tr> #}
        {#            <tr> #}
        {#                <th>Lieninfo</th> #}
        {#                <td>{{ server.lieninfo }}</td> #}
        {#            </tr> #}
        <tr>
            <th>Date ajout:</th>
            <td>
{#                {{ server.date|date("F jS \\a\\t g:ia", "Europe/Paris")|trans('fr') }}#}
               Le {{ server.date|format_datetime(locale='fr', timezone=false) }}
                </td>
        </tr>
        </tbody>
    </table>
<div class="form-group pb-4">
    <a href="{{ path('app_server_index') }}" class="btn btn-dark">Retour</a>

    <a href="{{ path('app_server_edit', {'id': server.id}) }}" class="btn btn-primary">Edit</a>

</div>





{% endblock %}
